/*!
Nom du thème : a22-31w-Anna Chumbaieva
Thème URI : http://underscores.me/
Auteur : Underscores.me
Auteur URI : http://underscores.me/
Description : Description
Version : 1.0.0
Testé jusqu’à : 5,4
Nécessite PHP : 5.6
Licence : GNU General Public License v2 ou version ultérieure
Licence URI : LICENCE
Domaine de texte : underscores
*/

// Importation des variables.
@import "variables/couleurs";
@import "variables/structure";
@import "variables/polices";

// normalize et box-sizing
@import "generic/normalize";
@import "generic/box-sizing";

// les éléments de base
@import "base/body";
@import "base/heading";
@import "base/simple";
@import "base/links";
@import "base/buttons";
@import "base/fields";
@import "base/hr";
@import "base/lists";
@import "base/media";


//components
@import "composants/nav_principal";
@import "composants/nav_aside";
@import "composants/entete";
@import "composants/footer";
@import "composants/nav_evenement";
@import "composants/liste_cours";
@import "composants/liste_cours_accueil";
//layouts

// @import "layouts/content-sidebar";
// @import "layouts/no-sidebar";
@import "layouts/sidebar-content";



