/*!
Nom du thème : a22-31w
Thème URI : http://underscores.me/
Auteur : Underscores.me
Auteur URI : http://underscores.me/
Description : Description
Version : 1.0.0
Testé jusqu’à : 5,4
Nécessite PHP : 5.6
Licence : GNU General Public License v2 ou version ultérieure
Licence URI : LICENCE
Domaine de texte : underscores
*/

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    background-color: blue;
    color: rgb(197, 48, 48);
    
}
