$couleur__background-body : rgb(204, 241, 191);

/*----------------Couleur de titres------*/
$couleur__background-h1 : rgb(246, 122, 21);
$couleur__background-h2 :rgb(243, 79, 15);
$couleur__background-h3 :rgb(241, 7, 7);
$couleur__background-h4 :rgb(114, 16, 3);
$couleur__background-code : rgb(79, 152, 5);

/*----------Couleur des lien---------------*/
$color__link: rgb(187, 128, 249);
$color__link-visited: rgb(187, 128, 249);
$color__link-hover: rgb(99, 153, 112);