$couleur__background-body : rgb(212, 231, 206);

/*----------------Couleur de titres------*/
$couleur__background-h1 : rgb(247, 104, 38);
$couleur__background-h2 :rgb(243, 79, 15);
$couleur__background-h3 :rgb(241, 7, 7);
$couleur__background-h4 :rgb(114, 16, 3);


/*----------Couleur des lien---------------*/
$color__link: rgb(80, 65, 139);
$color__link-visited: rgb(126, 55, 202);
$color__link-hover: rgb(99, 153, 112);

/*-----------couleur bouton-------*/
$color__border-button: rgb(161, 234, 178);
$color__background-button:rgb(241, 154, 143);
$color__border-button-hover: rgb(59, 47, 70);
$color__border-button-focus: rgb(241, 109, 52);

/*-----------couleur fields input-------*/
$color__text-input:rgb(59, 47, 70);
$color__border-input:rgb(73, 63, 61);
$color__text-input-focus: rgb(165, 225, 179);
$color__border-input: #413838;

/*-----------couleur hr-------*/
$color__background-hr:rgb(69, 60, 78);


/*-----------simple---------*/
$color__background-pre: #f78044;
$color__background-ins:rgb(245, 150, 150);
$color__border-abbr:rgb(240, 149, 149);
$couleur__background--code : rgb(24, 34, 15);

/*----------Couleur des lien menu__aside---------------*/
$color__link__aside: rgb(42, 101, 49);
$color__link__aside-visited: rgb(16, 75, 15);
$color__link__aside-hover: rgb(238, 176, 83);
