$couleur__background-body : #630b05 ;

/*----------------Couleur de titres------*/
$couleur__background-h1 :#a3793e;
$couleur__background-h2 :#a3793e;
$couleur__background-h3 :rgb(241, 159, 7);
$couleur__background-h4 :#dbb044;

$couleur__site__title: #876330;
/*----------Couleur des lien---------------*/
$color__link:rgb(244, 232, 232);
$color__link-visited: #916c38;
$color__link-hover: #f8f6f1;

/*-----------couleur bouton-------*/
$color__border-button: #a57635;
$color__background-button:#a3793e;
$color__border-button-hover: rgb(59, 47, 70);
$color__border-button-focus: #a3793e;

/*-----------couleur fields input-------*/
$color__text-input:rgb(161, 126, 50);
$color__border-input:rgb(73, 63, 61);
$color__text-input-focus: rgb(165, 225, 179);
$color__border-input: #413838;

/*-----------couleur hr-------*/
$color__background-hr:rgb(69, 60, 78);


/*-----------simple---------*/
$color__background-pre:#867643;
$color__background-ins:#c6995a;
$color__border-abbr:#a3793e;
$couleur__background--code : #ab8b2b;

/*----------Couleur des lien menu__aside---------------*/
$color__link__aside: rgb(239, 231, 231);
$color__link__aside-visited: #7b2021;
$color__link__aside-hover: #a3793e;
