// .site__branding{

// }

.site__title{
font-size:clamp(2rem, 4vw, 5rem);
    // a{
    //     color:$couleur__site__title ;

    // }
}
// .site__description{

// }
.custom-logo-link{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
