 .site__branding{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 20px;
 }
 .site__branding>*{
    display: inline-block;
    
 }

.site__title{
font-size:clamp(1rem, 3vw, 4rem);
padding-top: 50px;
    // a{
    //     color:$couleur__site__title ;

    // }
}
.site__description{
    
    display: none;
}
.custom-logo-link{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.site__header>div{
    display: grid;
    grid-template-columns: repeat(3,[col] 1fr); 
}
.sidebar__header{
   margin-top: 40px; 
   gap: 10px;
}
@media (min-width: 650px) and (max-width: 850px){
    .site__header>div{
        
        grid-template-columns: repeat(1,[col] 1fr); 
    }
    
}
@media (min-width: 350px) and (max-width: 650px){
    .site__header>div{
        
        grid-template-columns: repeat(1,[col] 1fr); 
    }
    
  }
