.site__footer{
    display: flex;
    justify-content: space-around;
}
.site__footer div{
    
    flex: 1;

    border: 1px solid #fff;
}
.footer__copyright{  
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
 }