
.site-footer{
    width: 99vw;
    margin: -1em;
}
.footer__copyright{
    width: 100%;
    min-height: 60px;
    background-color:#a3793e; 
    text-align: center;
    padding-top: 1em;
    color: aliceblue;

}