.liste__accueil{
    display: grid;
    grid-template-columns: repeat(2,[col] 1fr); 
    gap:40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
@media (min-width: 650px) and (max-width: 850px){
    .liste__accueil {
        max-width: 80%;
        grid-template-columns: repeat(1,[col] 1fr);
    }
}
@media (min-width: 350px) and (max-width: 650px){
    .liste__accueil {
        grid-template-columns: repeat(1,[col] 1fr);
        
        max-width: 50%;
        
      }
  }
  
  .liste__accueil__cours {
      border: 1px solid rgb(244, 232, 232);
      padding-left: 10px;    
  }