.menu__evenement {
  margin-left: -35px;
}

.menu__evenement .menu {
  // ul
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.menu__evenement .menu-item {
  width: 35%;
  border: 1px solid #bbb;

}

.menu__evenement .menu-item a {
  text-decoration: none;
}
.menu__evenement .menu-item a:hover {
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.evenement__porte {
  background-color: rgba(6, 6, 92, 0.863);
}
.evenement__projet {
  background-color: rgba(6, 6, 92, 0.863);
}
.evenement__stage {
  background-color: rgba(6, 6, 92, 0.863);
}

.menu__item__icone {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(138, 137, 137);
}

.evenement__porte .menu__item__icone {
}

.evenement__projet .menu__item__icone {
}

.evenement__stage .menu__item__icone {
}