//nav
.menu__primaire{
    background-color: rgb(34, 71, 22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    //ul
    .menu{
        list-style-type: none;
        display: flex;
        justify-content:center;
        margin-right: 20px;
    }

    //li
    .menu-item{
        margin-top: 30px;
        max-width: 100%;
    }
    .menu-item:hover{
        background-color: rgb(90, 141, 68);
    }
    a{
        text-decoration: none;
        padding: 20px;
        color: rgb(212, 237, 205);
    }
    a:hover{
        color: rgb(59, 67, 60);
    }

} //fin .menu__primaire
.menu-primaire-container{}
.menu-primaire-container .menu{}
.menu-primaire-container .menu-item{} 
.menu-primaire-container .a {}
