//nav
.menu__primaire{
    background-color: rgb(73, 126, 85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    //ul
    .menu{
        list-style-type: none;
        display: flex;
        justify-content:center;
        margin-right: 20px;
    }

    //li
    .menu-item{
        
        max-width: 100%;
        padding: 10px;
        margin: 10px; 
        background-color: rgb(232, 237, 236);
    }
    .menu-item:hover{
        background-color: rgb(140, 189, 152);
    }
    a{
        text-decoration: none;
        padding: 20px;
        color: rgb(14, 57, 4);
    }
    a:hover{
        color: rgb(59, 67, 60);
    }

} //fin .menu__primaire
.menu-primaire-container{}
.menu-primaire-container .menu{}
.menu-primaire-container .menu-item{} 
.menu-primaire-container .a {}
