.menu__aside{
    display: flex;

    
    .menu{
        list-style-type: none;
        padding: 0;
        margin: 0;
        
    }

    
    .menu-item{
        background-color: rgb(215, 237, 230);    
        padding: 10px;
        margin: 20px; 
        
    }
    a{
          
    }


}
// .menu__aside{}
// .menu__aside .menu{}
// .menu__aside .menu-item{} 
// .menu__aside .a {}