.site__menu{
    position: relative;
}
.chk-burger{
    display: none;
}

.chk-burger:checked ~ .burger{
    transform: rotate(90deg);
}
.chk-burger:checked ~ .menu__aside{
   transform: translateX(0);
}

.burger{
   position:absolute;
   top: 10px;
   width: 2rem;
   height: 2rem;
   left: 0px;
   transform: rotate(0deg);
   transition: transform 0.4s;
   font-size: 2rem;
   color: #f9f6f2;
   
   @media screen and (min-width:700px) {
        display: none;
       
   }
}
.menu__aside{
    display: flex;
    position: absolute;
    width: 100vw;
    top:90px;
    left:-10px;
    background-color:$couleur__background-body;
    transform: translateX(-100vw);
    transition: transform 0.4s;
   
    @media screen and (min-width:700px){
        position: static;
        width: 100%;
        transform: translateX(0);
       
    }
    
    .menu{
        list-style-type: none;
        padding: 0;
        margin: 0;
        
    }

    
    .menu-item{
        background-color: rgb(232, 237, 236);    
        padding: 10px;
        margin: 20px; 
        border:1px solid  #a3793e;
        
    }

    
}
.sidebar-aside {
    border: 0.5px solid #fff;
    margin-right: 20px;
    padding: 10px;
    margin-left: 20px;
}
 
// .menu__aside{}
// .menu__aside .menu{}
// .menu__aside .menu-item{} 
// .menu__aside .a {}