.menu__aside{
    display: flex;

    
    .menu{
        list-style-type: none;
        padding: 0;
        margin: 0;
        
    }

    
    .menu-item{
        background-color: rgb(232, 237, 236);    
        padding: 10px;
        margin: 20px; 
        border:1px solid  #a3793e;
        
    }
    a{
          
    }
    // .menu__aside div{
    //     flex: 1;
    //     padding: 10px;
    //     border: 0.5px solid #fff;
        
    // }

    
}
.sidebar-aside {
    border: 0.5px solid #fff;
    margin-right: 30px;
    padding: 10px;
    margin-left: 20px;
}
 
// .menu__aside{}
// .menu__aside .menu{}
// .menu__aside .menu-item{} 
// .menu__aside .a {}