.menu__evenement {
  margin-left: -35px;
}

.menu__evenement .menu {
  // ul
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.menu__evenement .menu-item {
  width: 35%;
  border: 1px solid #bbb;

}

.menu__evenement .menu-item a {
  text-decoration: none;
}


.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.evenement__porte {
  background-color: #707070;
}
.evenement__projet {
  background-color: #4a4949;
}
.evenement__stage {
  background-color:  #363535;
}

.menu__item__icone {
  
  width: 50px;
  height: 50px;
  
}

.evenement__porte .menu__item__icone {
  background-image: url(https://s2.svgbox.net/illlustrations.svg?ic=building);
  width: 30px;
  height: 30px;
}

.evenement__projet .menu__item__icone {
  background-image: url(https://s2.svgbox.net/illlustrations.svg?ic=blackboard);
  width: 30px;
  height: 30px;
}

.evenement__stage .menu__item__icone {
  background-image: url(https://s2.svgbox.net/illlustrations.svg?ic=sweet-home);
  width: 30px;
  height: 30px;
}
@media (min-width: 650px) and  (max-width: 850px){
  .menu__evenement .menu{
    flex-direction: column;
  }
  .menu__evenement .menu-item {
    width: 80%;
  }
}
@media (min-width: 350px) and (max-width: 650px){
  .menu__evenement .menu{
    flex-direction: column;
  }
  .menu__evenement .menu-item {
    width: 50%;
  }
}



