body {
    background-color : $couleur__background-body;
    font-size: 1.2em;
} 

main{
    font-family: $police__main;
}
.trace{
    color: #815d2a;
    font-size: 1.5em;
}

.site__main h1{
    font-size:2em ;
    color: $couleur__background-h1;
    margin-left: auto;
    margin-right: auto;
}
