small, pre, code, span{
    background-color:$couleur__background--code ;
}
pre{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
code{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
span{
    margin: 0 10px;
}