.site {
	display: grid;
	grid-template-columns: auto ($size__site-sidebar);
	grid-template-areas:
		"header header"
		"main sidebar"
		"footer footer";
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
	
}
<<<<<<< HEAD
@media screen and (min-width :900px){
=======
@media screen and (min-width :800px){
>>>>>>> 0e3c5bf1cf74a27c099dd532bf75ab508f4b9966
	

}

@import "no-sidebar";
