.site {

	display: grid;
		grid-template-columns: auto;
		grid-template-areas:
		    "menu"
			"header"
			"main"
			"sidebar"
			"footer";

@media screen and (min-width :700px){
	grid-template-columns: ($size__site-sidebar) auto;
	grid-template-areas:
		"header header"
		"menu main"
		"sidebar main"
		". main"
		"footer footer";
}
}
	

.site__header {
	grid-area: header;
}

.site__main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.site__menu {
	grid-area: menu;
}
.site__sidebar{
	grid-area: sidebar;
}
.site__main{
	margin-left: 20px;
}
.site__footer {
	grid-area: footer;
	
}


@import "no-sidebar";
